html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: #111827;
}

h1, h2, h3 {
  letter-spacing: 0.2px;
}

* {
  box-sizing: border-box;
}
